<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Index page</title>
</head>
<body>
    <h1>My recipes blah blah blah</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Description</th>
        </tr>
        <tr th:each="recipe : ${recipes}">
            <td th:text="${recipe.id}">Recipe ids go here</td>
            <td th:text="${recipe.description}">Recipe descriptions go here</td>
        </tr>
    </table>
</body>
</html>